h2{
    font-family: Aparajita;
}


/* ====================
#FOOTER
==================== */

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
   margin-top: auto;
}



/* ====================
#DATATABLE PAGINATION
==================== */
/* Pagination */
/* /Ekata Page pagination */
<<<<<<< HEAD
/* #example2_paginate{
    margin-top: -40px !important;
} */


/* Balvikas Pagination */
/* #example4_paginate{
    margin-top: -40px !important;
} */


/* Show Entries */
/* .dataTables_length{
    float: right !important;
    margin-top: 10px !important;
} */
=======
#example2_paginate{
    margin-top: -40px !important;
}


/* Balvikas Pagination */
#example4_paginate{
    margin-top: -40px !important;
}


/* Show Entries */
.dataTables_length{
    float: right !important;
    margin-top: 10px !important;
}
>>>>>>> 9a40693d402e60781962f1916465c93d21656848
