h2{
    font-family: Aparajita;
}



/* ====================
#FOOTER
==================== */

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer{
   margin-top: auto;
}


/* ====================
#DATATABLE PAGINATION
==================== */
/* Pagination */
/* /Ekata Page pagination */
/* #example2_paginate{
    margin-top: -40px !important;
} */


/* Balvikas Pagination */
/* #example4_paginate{
    margin-top: -40px !important;
} */


/* Show Entries */
.dataTables_length{
    float: right !important;
    margin-top: 10px !important;
};




/*  HPL form style  */
.hpl{
    background-repeat: no-repeat;
    background-size: 1700px;
};

.hpl_header > h6{
    display: inline-block;
};

.blink{
    animation: blinker 1.5s linear infinite;
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
};

@keyframes blinker {       
    50%{
        opacity:0;
    }
}

.hpl_h1{
    font-family: 'Times New Roman', Times, serif;
}


/* ============== HPL Money Status======================== */
td.color_PAID{
    background-color: green !important;
    font-weight: bold;
};

td.color_UNPAID{
    background-color: red !important;
    font-weight: bold;
};