<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock css %}
    <!-- Fontawesome CSS -->
    <!-- <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}"> -->
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
     <!-- favicon LOGO icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!-- Datatables Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/datatablebootstrap.css' %}"> 
    <title>Ekta cricket club</title>   
</head>
<body>
  <div class="container-fluid  wrapper">
    <!-- Heading -->
    {% block header1 %}
    {% endblock header1 %}

    <!-- Navbar -->
    {% include 'ekta1/navbar.html' %}
    
    <!-- carsoul -->
    {% block carousel %}
    {% endblock carousel %}

    {% block content %}
    {% endblock content %}

    
    
  </div>

  <!-- Page footer -->
  <footer class="bg-dark text-center text-lg-start" id="footer" style="color: #fff;">
    <div class="text-center p-3 " style="background-color: rgba(0, 0, 0,0.2);">&copy; Powered by  
        <a class="text-light" style=" text-decoration: none;">
            <span style="color: greenyellow;">Ekta Cricket Club</span>
            {% now "Y" %}
        </a>
    </div>
  </footer>


    
    <!-- Bootstrap JS -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap_growl.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- FONTAWESOME JS -->
    <!-- <script src="{% static 'js/fontawesome.js' %}"></script> -->
    <!-- DATATABLES BOOTSTRAP JS  -->
    <script src="{% static 'js/datatables.js' %}"></script>
    <script src="{% static 'js/pdfmakevfs.js' %}"></script>
    <!-- <script src="{% static 'js/pdfmake.js' %}"></script> -->
    <script src="{% static 'js/datatablesBootstrap.js' %}"></script>
    <!-- DATATABLE Script -->
    <script src="{% static 'js/DatatableScript.js' %}" ></script>
</body>
</html>