{% extends 'ekta1/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="shadow p-3 col-sm-6">
                <h3 class="text-center fw-bold shadow">एकता कार्यकारिणी मंडळ</h3>
                <div>
                    <h5 class="fw-bold d-inline">अध्यक्ष:</h5>
                    <p class="d-inline">सचिन शेडेकर</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">उपाध्यक्ष:</h5>
                    <p class="d-inline">मयुर कांबळी</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">सचिव:</h5>
                    <p class="d-inline">सागर भेरे</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">उपसचिव:</h5>
                    <p class="d-inline">रूपेश धुमाळ</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">खजिनदार:</h5>
                    <p class="d-inline">दिपक धुमाळ</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">उपखजिनदार:</h5>
                    <p class="d-inline">सचिन हातणकर, सुयोग भेरे</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">हिशोब तपासणीस:</h5>
                    <p class="d-inline">राजेश कांबळी, गणेश कांबळी, रोहित कांबळी, ऋषीकेश धुमाळ</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">सल्लागार:</h5>
                    <p class="d-inline">सुनिल कांबळी, झिलु धुमाळ, सुभाष कांबळी</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">कार्यक्रम समन्वय:</h5>
                    <p class="d-inline"> प्रमोद भेरे, जयेंद्र कांबळी, भगवान कांबळी, विलास धुमाळ, किरण शेडेकर, प्रविण धुमाळ, प्रदीप कांबळी, सूर्यकांत कांबळी, गणेश भेरे, अनिल कांबळी, गणेश कांबळी, प्रणय धुमाळ, कैलास धुमाळ, रोहित कांबळी, सुरज भेरे, स्वप्नील कांबळी,
                     प्रथमेश ना. धुमाळ, प्रशांत धुमाळ, प्रथमेश पा. धुमाळ
                    </p> 
                </div>
            </div>
            <div class="shadow p-3 col-sm-6">
                <h3 class="text-center fw-bold shadow">बाळ विकास कार्यकारिणी मंडळ</h3>
                <div>
                    <h5 class="fw-bold d-inline">अध्यक्ष:</h5>
                    <p class="d-inline">झिलु धुमाळ</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">उपाध्यक्ष:</h5>
                    <p class="d-inline">सुभाष कांबळी, सचिन शेडेकर</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">सचिव:</h5>
                    <p class="d-inline">सुनिल कांबळी</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">उपसचिव:</h5>
                    <p class="d-inline">प्रदीप धुमाळ, सागर भेरे</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">खजिनदार:</h5>
                    <p class="d-inline">संतोष ना. कांबळी</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">उपखजिनदार:</h5>
                    <p class="d-inline">रामचंद्र धुमाळ</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">हिशोब तपासणीस:</h5>
                    <p class="d-inline">दिपक धुमाळ, सचिन हातणकर, सुयोग भेरे</p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">सल्लागार:</h5>
                    <p class="d-inline">कानु कांबळी, तुळाजी कांबळी, रविंद्र कांबळी, प्रकाश कांबळी, शांताराम धुमाळ, 
                        राजेश ना. कांबळी, संजय कांबळी, रघुनाथ कांबळी, महादेव कांबळी, सुरेश कांबळी
                    </p> 
                </div> <br>
                <div>
                    <h5 class="fw-bold d-inline">कार्यक्रम समन्वय:</h5>
                    <p class="d-inline">पांडुरंग कांबळी, मयुर कांबळी, विलास धुमाळ, रूपेश धुमाळ, प्रमोद भेरे, प्रविण धुमाळ, भगवान कांबळी,
                     प्रदीप कांबळी, किरण शेडेकर,गणेश भेरे, महेश कांबळी, महेंद्र धुमाळ, अंकुश कांबळी, राजेश कांबळी, प्रणय धुमाळ, कैलास धुमाळ,
                     प्रथमेश ना. धुमाळ 
                    </p> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
