{% extends 'ekta1/base.html' %}
{% load static %}

{% block content %}

<div class="container">
     <div class="col-sm-6 mx-auto mt-3">
        {% if messages %}
            {% for message in messages %}
                <p {% if message %} class="alert alert-{{message.tags}} mb-5 alert-dismissible fade show" {% endif %} role="alert">{{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3  alert-dismissible fade show"  role="alert">{{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" area-label="Close">
                    </button>
                </p>
            {% endfor %}
        {% endif %}
        <h3 class="text-center fw-bold">पासवर्ड बदला</h3>
        <form action="" method="POST" novalidate class="shadow-sm p-5">
           {% csrf_token %}
           {% for fm in form %}
               <div class="form-group">
                   {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
               </div>
           {% endfor %}
           <input type="submit" value="Change Password" class="btn btn-primary mt-4">
   
        </form>
     </div>
    </div>
   </div>

{% endblock content %}
