{% extends 'ekta1/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid ">
        <div class="row">
            <div class="row">
                <h2 class="text-center d-inline col-sm-8 mx-auto">वार्षिक कार्यक्रम आणि छायाचित्र</h2>
                {% if request.user.is_superuser %}
                <a href="{% url 'aaf' %}" class='btn btn-outline-success py-auto d-inline my-auto col-sm-1'>जमा करा</a>
                {% endif %}
            </div>
            {% for fm in form %} 
                    <div class="col-sm-3">
                        <div class="card m-2">
                            <img src="{{fm.Image.url}}" alt="" srcset="" class="card-img-top" height="240px" width="500px">
                            <div class="card-footer text-center">
                                <small class="text-muted">{{fm.Date}}</small> <br>
                                <small class="text-muted">{{fm.Discription}}</small>
                                <div class="text-center">
                                    {% if request.user.is_superuser %}
                                    <form action="{% url 'eaf' fm.id %}" method="GET" class="d-inline" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="submit" value="एडीट" class="btn btn-outline-warning">
                                    </form>
                                    <form action="{% url 'daf' fm.id %}" method="POST" class="d-inline">
                                    {% csrf_token %}
                                    <input type="submit" value="डीलीट" class="btn btn-outline-danger">
                                    </form>
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                    </div> 
            {% endfor %}     
        </div>     
</div>
   
{% endblock content %}

